@import "vars"
//@import "fonts"
@import "libs"

*
	outline: none!important

*::-webkit-input-placeholder
	color: #989898
	opacity: 1
	font-size: 18px
	font-weight: 300
	font-family: $default-font

*:-moz-placeholder
	color: #989898
	opacity: 1
	font-size: 18px
	font-weight: 300
	font-family: $default-font

*::-moz-placeholder
	color: #989898
	opacity: 1
	font-size: 18px
	font-weight: 300
	font-family: $default-font

*:-ms-input-placeholder
	color: #989898
	opacity: 1
	font-size: 18px
	font-weight: 300
	font-family: $default-font

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: auto
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	//overflow-x: hidden
	opacity: 1
	margin: 0px
*
	font-family: $default-font
	outline: none!important
.img-responsive
	display: block
	max-width: 100%
	height: auto

h1
	color: $dark
	//background: rebeccapurple
	display: flex
	justify-content: center
	align-items: center
	//background-image: url("./assets/img/logo.png")

body
	background: $grey-l

.vue-fade-enter-active, .vue-fade-leave-active
	transition: opacity .3s
.vue-fade-enter, .vue-fade-leave-to
	opacity: 0
.header
	background: #FFFFFF
	margin-bottom: 15px

.menu-header
	display: flex
	.logo-c
		display: flex
		align-items: center
		justify-content: center
		padding: 0 50px
		padding-left: 0px
		img
			max-width: 50px


.header-r
	align-items: center

.menu-ul
	list-style: none
	padding: 0px
	display: flex
	margin-bottom: 0px
	height: 100px
	li
		margin-right: 35px
		display: flex
		align-items: center
		&:last-child
			margin-right: 0px
		a
			color: $gray-600
			display: flex
			align-items: center
			font-weight: 700
			height: 100%
			position: relative
			border-bottom: solid 2px transparent
			text-decoration: none!important
			&.router-link-active
				color: $blue
				border-color: $blue
			&:hover
				color: $red
				border-color: $red

.white-bg
	background: #FFFFFF
	border-radius: 5px

//bootstrap style remastering start
.form-control
	background: $gray-200
	color: #8493A8
	box-shadow: none!important
//bootstrap style remastering end 

.h-user-c
	display: flex
	align-items: center
	justify-content: flex-end
	.h-user-profile
		display: flex
		justify-content: space-between
		min-width: 300px
	.ava-c
		margin-right: 15px
	.h-user-info
		margin-right: 30px
	.user-info
		display: flex
		flex-direction: column
		justify-content: center
		.h-user-name
			color: $gray-800
			font-size: 17px
			font-weight: 700
		.h-user-role
			color: $gray-600
			font-weight: 500

.round-inf
	padding: 0px
	background: #FFFFFF
	border-radius: 100px
	width: 23px
	height: 23px
	min-width: 23px
	min-height: 23px
	display: flex
	align-items: center
	justify-content: center
	border: none
	font-weight: 700
	svg
		path
			fill: $green
.ava-c
	width: 50px
	height: 50px
	display: flex
	align-items: center
	justify-content: center
	position: relative
	border-radius: 3000px
	background-color: #FFFFFF
	&:after
		content: ''
		position: absolute
		background-image: linear-gradient(to right, #c83a54, #f88b4b)
		width: 54px
		height: 54px
		left: -2px
		top: -2px
		border-radius: 100%
		z-index: 0
	&:before
		content: ''
		position: absolute
		background-image: linear-gradient(to right, #c83a54, #f88b4b)
		width: 50px
		height: 50px
		left: 0px
		top: 0px
		border-radius: 100%
		background: #FFFFFF
		z-index: 1
	img
		max-width: 100%
		position: relative
		z-index: 2

.flex-center
	align-content: center
	justify-content: center
	display: flex

button
	cursor: pointer

.btn-icon-tr
	background: transparent
	border: none
	display: flex
	align-items: center
	justify-content: center

.folder-h
	font-size: 17px
	font-weight: 500
	color: $gray-600
	text-transform: uppercase
	display: flex
	align-items: center
	justify-content: space-between
	padding: 30px
	border-bottom: solid 2px $gray-300
.folder-b
	padding: 15px 0px
	.folder-controls-c
		min-width: 80px
		.btn-icon-tr
			padding-left: 15px
	.folder-name
		color: $gray-600
		font-size: 16px
.folder-list
	list-style: none
	margin: 0px
	padding: 0px
	.folder-title
		display: flex
		justify-content: space-between
	li
		padding: 15px 30px
		&:last-child
			margin-bottom: 0px
.folder-controls-c
	display: flex
	align-items: center
	justify-content: space-between



@import "media" // Всегда в конце
